.brand {
	position: relative;
	display: inline-block;
	width: 94px;
	height: 94px;
}

.brand-logo {
	position: absolute;
	width: auto;
	height: auto;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: App-logo-spin infinite 10s linear;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.colortransition,
.sidenav-category {
	transition: 0.3s color ease-out;
}

.sidenav a {
	display: block;
}

.sidenav-category {
	font-size: 24px;
	line-height: 33px;
	color: #303030;
	text-decoration: none;
	margin-top: 30px;
}

.sidenav-category.active,
.sidenav-category:hover {
	color: #fff;
}

.sidenav-elements {
	margin-top: 15px;
	margin-bottom: 50px;
}

.colortransition,
.elements-list-item {
	transition: 0.3s color ease-out;
}

.elements-toggle {
	position: relative;
}

.elements-toggle:after {
	content: ' ';
	width: 15px;
	height: 15px;
	background: url(./group-2.png) no-repeat;
	position: absolute;
	top: 13px;
	margin-left: 7px;
}

.elements-list {
	font-size: 24px;
	line-height: 27px;
	font-family: 'AndaleMono';
	font-weight: normal;
}

.elements-list-item {
	color: #3c3c3c;
	text-decoration: none;
	margin-bottom: 25px;
}

.elements-list-item.active,
.elements-list-item:hover {
	color: #fff;
}

.search-bar {
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	padding: 0 15px 0 50px;
	width: 100%;
	height: 50px;
	background: url(./group.png) 14px center/28px 30px no-repeat;
	background-color: inherit;
	border: none;
	border-bottom: 4px solid rgba(55, 55, 55, 0.56);
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}

.search-bar:focus {
	outline: 0;
	border-bottom-color: rgba(255, 255, 255, 0.85);
}
