.products-grid {
  padding: 22px 24px;
}

.card {
  max-width: 312px;
  max-height: 312px;
  background-color: #f4f4f4;
  padding: 9px;
  text-align: center;
  position: relative;
  text-decoration: none;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.2s all ease-out;
}

.card:hover {
  background-color: #e3e3e3;
}

.card-sticker {
  position: absolute;
  top: 17px;
  right: 17px;
}

.card-product-photo {
  display: block;
  width: 100%;
  height: auto;
}

.card-price {
  margin-top: 6px;
  font-size: 30px;
  line-height: 41px;
  height: 91px;
  display: block;
  background: #fff;
  color: #111;
  padding: 25px 5px;
}

.card-price.accent {
  color: #fff;
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
}
