html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'AvenirNext';
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'AndaleMono';
  src: url(./fonts/Andale-Mono.woff) format('woff'), url(./fonts/Andale-Mono.ttf) format('ttf');
}

@font-face {
  font-family: 'AvenirNext';
  src: url(./fonts/avenir-next-regular.woff) format('woff'), url(./fonts/avenir-next-regular.svg) format('svg'), url(./fonts/avenir-next-regular.eot) format('eot');
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(./fonts/avenir-next-bold.woff) format('woff'), url(./fonts/avenir-next-bold.svg) format('svg'), url(./fonts/avenir-next-bold.eot) format('eot');
  font-weight: bold;
}
